@import "./src/assets/scss/global";
.game-logo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    z-index: 2;
    animation: 4s glowpulse-red ease infinite;
    cursor: pointer !important;

    &:hover{
        animation: 1s glowpulse-green ease infinite;
    }
}
.facedarth{
    position: fixed;
    z-index: 1;
    right: -400px;
    bottom: -80px;
    filter: brightness(.5);
}

@each $key, $value in $colors {
    @keyframes glowpulse-#{$key} {
        0%,100% {filter:drop-shadow(0px 0px 20px $value);}
        50%{filter:drop-shadow(0px 0px 10px rgba($value,.4));}
    }
    @keyframes textglowpulse-#{$key} {
        0%,100% {text-shadow:(0px 0px 20px $value);}
        50%{text-shadow:(0px 0px 10px rgba($value,.6));}
    }
    .btn-#{$key} {
        background: $value;
        border-color: $value;
        &:hover{
            background: darken($value, 20%);
            border-color: darken($value, 20%);
        }
    }
}





.nav-top{
    background: rgba(26, 25, 30, 0.9);
    position: fixed;
    z-index: 10;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    .trooper,.logo{height: 40px;}
    .score small{
        font-size: 14px;
        position: absolute;
        bottom: -10px;
        letter-spacing: 1px;
    }
}



.card-dark{
    background: #1a191e;
    margin-bottom: 15px;
    box-shadow: 0px 0px 60px -32px transparent;
    transition: all .4s ease;
    .badge{
        position: absolute;
        z-index: 2;
        top: -8px;
        right: -8px;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: 100;
    }
    .card-img{
        overflow: hidden;
        position: relative;
        height: 250px;
        img{
            height: 250px;
            object-fit: cover;
            object-position: top;
            transform: scale(1.3);
            transition: all .4s ease;
        }
    }
    &:hover{
        box-shadow: 0px 0px 60px -8px map-get($colors,blue);
        .card-img img{transform: scale(.9);}
    }
    .card-body{
        padding: 15px 10px;
        position: relative;
        input{
            font-size: 14px;
        }
        .hint{
            line-height: 18px;
            width: 60px;
            border-radius: 6px 0 0;
            background: #1a191e;
            color: map-get($colors, green );
            position: absolute;
            top: -24px;
            right: 0;
            font-size: 11px;
            letter-spacing: 2px;
            transition: all .4s ease;
            border: none !important;
            &:hover{
                background: darken(#1a191e, 20%);
            }
        }
    }

    &.acertou,&.errou{
        // no click or select
        pointer-events: none !important;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        user-drag: none;
        -webkit-touch-callout: none;
        .input-group-text{
            background: map-get($colors, green);
            border-color: map-get($colors, green);
        }
        input{color: map-get($colors, green);}
        .hint {display: none;}
        .pontuacao{
            position: absolute;
            background: rgba(map-get($colors, green),.8);
            height: 100%;
            vertical-align: middle;
            text-align: center;
            z-index: 2;
            width: 100%;
            color: #000;
            .fix-align{
                position: absolute;
                top: 50%;
                text-align: center;
                width: 100%;
                transform: translateY(-50%);
                font-size: 60px;
                small{
                    font-size: 14px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -12px;
                }
            }
        }
    }
    &.errou{
        .input-group-text{
            background: map-get($colors, red);
            border-color: map-get($colors, red);
        }
        input{color: map-get($colors, red);}
        .pontuacao{
            background: rgba(map-get($colors, red),.8);
            color: #fff;
        }
        .correctname{
            bottom: -76px !important;
            width: 100% !important;
            font-size: 12px !important;
            letter-spacing: 2px !important;
        }
    }
}

input{
    text-transform: lowercase !important;
    color: map-get($colors,yellow);
    background: rgba(0,0,0,.3);
    border-color: rgba(0,0,0,.3);
    &:focus,&:disabled{
        color: map-get($colors,yellow);
        background: rgba(0,0,0,.6);
        border-color: rgba(0,0,0,.6);
    }
}
.input-group-text {
    background: map-get($colors,yellow);
    border-color: map-get($colors,yellow);
    color: #000;
}


::-webkit-input-placeholder {font-size: 12px; color: #a0a4a9 !important;}
::-moz-placeholder {font-size: 12px; color: #a0a4a9  !important;}
:-ms-input-placeholder {font-size: 12px; color: #a0a4a9 !important;}
:-moz-placeholder {font-size: 12px; color: #a0a4a9 !important;}



.rank{
    position: relative;
    z-index: 2;
    padding: 25px;
    color: #fff;
    .badge{color: #000000;}
}






#result{
    .logo{
        width: 300px;
        filter: drop-shadow(0px 0px 9px map-get($colors,yellow));}
    table{
        th{
            font-weight: 100;
            letter-spacing: 2px;
        }
        img{height: 24px;}
    }
}

















.loading{
    line-height: 38px;
    background: map-get($colors, yellow );
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 256px;
    color: #000;
    text-align: center;
    border-radius: 70px;
    box-shadow: 0px 0px 55px 6px #000;
}

.sk-fading-circle{display:inline-block;margin-right:10px;top:3px;width:5px;height:20px;position:relative}.sk-fading-circle .sk-circle{width:100%;height:100%;position:absolute;left:0;top:0}.sk-fading-circle .sk-circle:before{content:'';display:block;margin:0 auto;width:15%;height:15%;background-color:#333;border-radius:100%;-webkit-animation:sk-circleFadeDelay 1.2s infinite ease-in-out both;animation:sk-circleFadeDelay 1.2s infinite ease-in-out both}.sk-fading-circle .sk-circle2{-webkit-transform:rotate(30deg);-ms-transform:rotate(30deg);transform:rotate(30deg)}.sk-fading-circle .sk-circle3{-webkit-transform:rotate(60deg);-ms-transform:rotate(60deg);transform:rotate(60deg)}.sk-fading-circle .sk-circle4{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.sk-fading-circle .sk-circle5{-webkit-transform:rotate(120deg);-ms-transform:rotate(120deg);transform:rotate(120deg)}.sk-fading-circle .sk-circle6{-webkit-transform:rotate(150deg);-ms-transform:rotate(150deg);transform:rotate(150deg)}.sk-fading-circle .sk-circle7{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.sk-fading-circle .sk-circle8{-webkit-transform:rotate(210deg);-ms-transform:rotate(210deg);transform:rotate(210deg)}.sk-fading-circle .sk-circle9{-webkit-transform:rotate(240deg);-ms-transform:rotate(240deg);transform:rotate(240deg)}.sk-fading-circle .sk-circle10{-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.sk-fading-circle .sk-circle11{-webkit-transform:rotate(300deg);-ms-transform:rotate(300deg);transform:rotate(300deg)}.sk-fading-circle .sk-circle12{-webkit-transform:rotate(330deg);-ms-transform:rotate(330deg);transform:rotate(330deg)}.sk-fading-circle .sk-circle2:before{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}.sk-fading-circle .sk-circle3:before{-webkit-animation-delay:-1s;animation-delay:-1s}.sk-fading-circle .sk-circle4:before{-webkit-animation-delay:-.9s;animation-delay:-.9s}.sk-fading-circle .sk-circle5:before{-webkit-animation-delay:-.8s;animation-delay:-.8s}.sk-fading-circle .sk-circle6:before{-webkit-animation-delay:-.7s;animation-delay:-.7s}.sk-fading-circle .sk-circle7:before{-webkit-animation-delay:-.6s;animation-delay:-.6s}.sk-fading-circle .sk-circle8:before{-webkit-animation-delay:-.5s;animation-delay:-.5s}.sk-fading-circle .sk-circle9:before{-webkit-animation-delay:-.4s;animation-delay:-.4s}.sk-fading-circle .sk-circle10:before{-webkit-animation-delay:-.3s;animation-delay:-.3s}.sk-fading-circle .sk-circle11:before{-webkit-animation-delay:-.2s;animation-delay:-.2s}.sk-fading-circle .sk-circle12:before{-webkit-animation-delay:-.1s;animation-delay:-.1s}@-webkit-keyframes sk-circleFadeDelay{0%,100%,39%{opacity:0}40%{opacity:1}}@keyframes sk-circleFadeDelay{0%,100%,39%{opacity:0}40%{opacity:1}}