/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./assets/scss/global";

@font-face {
    font-family: "star";
    src: url(assets/font/starjedi.ttf) format("truetype");
}
* {
    font-family: "star", Verdana, Tahoma !important;
    text-transform: lowercase !important;
}


@each $key, $value in $colors {
    .text-#{$key} { color:$value !important;}
    .badge-#{$key} { background:$value !important;}
}

.badge-green{color: #000;}

.font-normal{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;}


.t-10{font-size: 10px !important;}
.t-20{font-size: 20px !important;}
.t-30{font-size: 30px !important;}

.text-gold{color: #FFDA3F;}
.text-silver{color: #C4C4C4;}
.text-bronze{color: #F0925C;}

.p-t{padding-top: 30px;}
.p-b{padding-bottom: 30px;}

html,body{
    height:100%;
    max-width:100%;
    margin:0;
    font-family:sans-serif;
}
#space{
    position: fixed;
    z-index: -1;
    width:100%;
    height: 100%;
}

.sound-controll{
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 3px;
}


.has-error{
    label{color: map-get($colors, red) !important;}
    .ng-invalid{border-color: map-get($colors, red) !important;}
}

//========= pages
#game{padding-top:120px;}

#intro{overflow: hidden;}



//========= modais
.modal-backdrop.show {opacity: .95;}

.modal-dark{
    .modal-content{
        background: #1a191e;
        border: 1px solid map-get($colors,red);
        box-shadow: 0px 0px 100px -33px map-get($colors,red);
        .modal-header,.modal-footer{
            background: darken(#1a191e,5%);
            border: none !important;
        }
        .modal-header{color: map-get($colors,red);}
        .modal-footer{border-radius: 0 0 5px 5px;}
        .modal-body{
            p{
                color: #fff;
                letter-spacing: 2px;
            }
            b{
                color: map-get($colors,yellow);
                margin-right: 10px;
            }
            .badge-list{
                font-size: 12px;
                margin-right: 10px;
            }
            .badge-blue{color: #000;}
        }
    }
}

.modal-full{
    .modal-dialog{
        width: 100%;
        max-width: 100%;
        text-align: center;
        height: 100%;
        position: fixed;
        margin: 0;
        .modal-content{
            background: none;
            color: map-get($colors, yellow );
            font-size: 45px;
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}




//========= animation startrooper
$p : 7px;
$t: transparent;
$c1: #eefff8;
$c2: #27193d;
$c3: #c0cacd;
$c4: #888899;
$c5: #a0a4af;
$c6: #6b657e;

@mixin keyframes($name) {
@-o-keyframes #{$name} { @content };
@-moz-keyframes #{$name} { @content };
@-webkit-keyframes #{$name} { @content }; 
@keyframes #{$name} { @content };}
@mixin animation($prop...) {-o-animation: $prop;-moz-animation: $prop;-ms-animation: $prop;-webkit-animation: $prop;animation: $prop;}
.soldier{position: absolute;bottom:0;right:-10vw;width:$p * 12;height: $p * 30;}
.soldier:nth-child(1){@include animation(go 2s linear infinite);}
.soldier:nth-child(2){@include animation(go 2s .1s linear infinite);}
.soldier:nth-child(3){@include animation(go 2s .2s linear infinite);}
.soldier:nth-child(4){@include animation(go 2s .3s linear infinite);}
@media(max-width:480px){.soldier{display: none;}.soldier:nth-child(1){display:block;}}
@mixin anim1() {box-shadow: 0 0 0px $t,$p*4 0 0px $c1,$p*5 0 0px $c1,$p*6 0 0px $c1,$p*7 0 0px $c1,$p*8 0 0px $c1,$p*3 $p 0px $c1,$p*4 $p 0px $c1,$p*5 $p 0px $c1,$p*6 $p 0px $c1,$p*7 $p 0px $c1,$p*8 $p 0px $c1,$p*9 $p 0px $c1,$p*3 $p*2 0px $c1,$p*4 $p*2 0px $c1,$p*5 $p*2 0px $c3,$p*6 $p*2 0px $c2,$p*7 $p*2 0px $c2,$p*8 $p*2 0px $c4,$p*9 $p*2 0px $c4,$p*3 $p*3 0px $c1,$p*4 $p*3 0px $c3,$p*5 $p*3 0px $c3,$p*6 $p*3 0px $c1,$p*7 $p*3 0px $c1,$p*8 $p*3 0px $c2,$p*9 $p*3 0px $c2,$p*10 $p*3 0px $c4,$p*2 $p*4 0px $c3,$p*3 $p*4 0px $c1,$p*4 $p*4 0px $c3,$p*5 $p*4 0px $c2,$p*6 $p*4 0px $c1,$p*7 $p*4 0px $c1,$p*8 $p*4 0px $c1,$p*9 $p*4 0px $c1,$p*10 $p*4 0px $c3,$p*2 $p*5 0px $c1,$p*3 $p*5 0px $c1,$p*4 $p*5 0px $c1,$p*5 $p*5 0px $c1,$p*6 $p*5 0px $c1,$p*7 $p*5 0px $c1,$p*8 $p*5 0px $c1,$p*9 $p*5 0px $c2,$p*10 $p*5 0px $c2,$p*2 $p*6 0px $c3,$p*3 $p*6 0px $c1,$p*4 $p*6 0px $c1,$p*5 $p*6 0px $c1,$p*6 $p*6 0px $c3,$p*7 $p*6 0px $c3,$p*8 $p*6 0px $c3,$p*9 $p*6 0px $c3,$p*10 $p*6 0px $c4,$p*3 $p*7 0px $c3,$p*4 $p*7 0px $c3,$p*5 $p*7 0px $c3,$p*6 $p*7 0px $c3,$p*7 $p*7 0px $c3,$p*8 $p*7 0px $c3,$p*9 $p*7 0px $c1,$p*10 $p*7 0px $c1,$p*4 $p*8 0px $c2,$p*5 $p*8 0px $c2,$p*6 $p*8 0px $c2,$p*7 $p*8 0px $c2,$p*8 $p*8 0px $c4,$p*3 $p*9 0px $c3,$p*4 $p*9 0px $c1,$p*5 $p*9 0px $c1,$p*6 $p*9 0px $c4,$p*7 $p*9 0px $c3,$p*8 $p*9 0px $c1,$p*9 $p*9 0px $c3,$p*3 $p*10 0px $c1,$p*4 $p*10 0px $c1,$p*5 $p*10 0px $c1,$p*6 $p*10 0px $c4,$p*7 $p*10 0px $c3,$p*8 $p*10 0px $c3,$p*9 $p*10 0px $c1,$p*3 $p*11 0px $c1,$p*4 $p*11 0px $c1,$p*5 $p*11 0px $c1,$p*6 $p*11 0px $c4,$p*7 $p*11 0px $c3,$p*8 $p*11 0px $c4,$p*9 $p*11 0px $c3,$p*3 $p*12 0px $c1,$p*4 $p*12 0px $c1,$p*5 $p*12 0px $c1,$p*6 $p*12 0px $c4,$p*7 $p*12 0px $c3,$p*8 $p*12 0px $c3,$p*9 $p*12 0px $c1,$p*3 $p*13 0px $c3,$p*4 $p*13 0px $c1,$p*5 $p*13 0px $c2,$p*6 $p*13 0px $c4,$p*7 $p*13 0px $c3,$p*8 $p*13 0px $c3,$p*9 $p*13 0px $c1,$p*3 $p*14 0px $c2,$p*4 $p*14 0px $c2,$p*5 $p*14 0px $c2,$p*6 $p*14 0px $c4,$p*7 $p*14 0px $c3,$p*8 $p*14 0px $c1,$p*9 $p*14 0px $c1,$p*4 $p*15 0px $c1,$p*5 $p*15 0px $c3,$p*6 $p*15 0px $c4,$p*7 $p*15 0px $c3,$p*8 $p*15 0px $c3,$p*9 $p*15 0px $c3,$p*10 $p*15 0px $c3,$p*4 $p*16 0px $c1,$p*5 $p*16 0px $c1,$p*6 $p*16 0px $c3,$p*7 $p*16 0px $c4,$p*8 $p*16 0px $c4,$p*9 $p*16 0px $c4,$p*10 $p*16 0px $c4,$p*11 $p*16 0px $c3,$p*4 $p*17 0px $c2,$p*5 $p*17 0px $c1,$p*6 $p*17 0px $c3,$p*7 $p*17 0px $c4,$p*8 $p*17 0px $c1,$p*9 $p*17 0px $c4,$p*10 $p*17 0px $c4,$p*11 $p*17 0px $c4,$p*4 $p*18 0px $c2,$p*5 $p*18 0px $c1,$p*6 $p*18 0px $c3,$p*7 $p*18 0px $c4,$p*8 $p*18 0px $c1,$p*9 $p*18 0px $c4,$p*5 $p*19 0px $c2,$p*6 $p*19 0px $c2,$p*7 $p*19 0px $c1,$p*8 $p*19 0px $c1,$p*9 $p*19 0px $c4,$p*5 $p*20 0px $c4,$p*6 $p*20 0px $c3,$p*7 $p*20 0px $c1,$p*8 $p*20 0px $c1,$p*9 $p*20 0px $c4,$p*5 $p*21 0px $c4,$p*6 $p*21 0px $c3,$p*7 $p*21 0px $c1,$p*8 $p*21 0px $c1,$p*9 $p*21 0px $c4,$p*5 $p*22 0px $c2,$p*6 $p*22 0px $c3,$p*7 $p*22 0px $c1,$p*8 $p*22 0px $c2,$p*9 $p*22 0px $c2,$p*5 $p*23 0px $c2,$p*6 $p*23 0px $c3,$p*7 $p*23 0px $c2,$p*8 $p*23 0px $c2,$p*5 $p*24 0px $c4,$p*6 $p*24 0px $c2,$p*7 $p*24 0px $c1,$p*8 $p*24 0px $c1,$p*5 $p*25 0px $c4,$p*6 $p*25 0px $c2,$p*7 $p*25 0px $c3,$p*8 $p*25 0px $c1,$p*4 $p*26 0px $c4,$p*5 $p*26 0px $c4,$p*6 $p*26 0px $c4,$p*7 $p*26 0px $c3,$p*8 $p*26 0px $c1,$p*3 $p*27 0px $c2,$p*4 $p*27 0px $c4,$p*5 $p*27 0px $c3,$p*6 $p*27 0px $c5,$p*7 $p*27 0px $c4,$p*8 $p*27 0px $c1,$p*3 $p*28 0px $c2,$p*4 $p*28 0px $c4,$p*5 $p*28 0px $c4,$p*6 $p*28 0px $c5,$p*7 $p*28 0px $c4,$p*8 $p*28 0px $c3,$p*9 $p*28 0px $c1,$p*3 $p*29 0px $c4,$p*4 $p*29 0px $c2,$p*5 $p*29 0px $c2,$p*6 $p*29 0px $c3,$p*7 $p*29 0px $c2,$p*8 $p*29 0px $c3,$p*9 $p*29 0px $c1,$p*10 $p*29 0px $c1,$p*11 $p*29 0px $c4,$p*12 $p*29 0px $c4;}
@mixin anim2() {box-shadow: 0 0 0px $t,$p*4 0 0px $c1,$p*5 0 0px $c1,$p*6 0 0px $c1,$p*7 0 0px $c1,$p*8 0 0px $c1,$p*3 $p 0px $c1,$p*4 $p 0px $c3,$p*5 $p 0px $c1,$p*6 $p 0px $c1,$p*7 $p 0px $c1,$p*8 $p 0px $c1,$p*9 $p 0px $c1,$p*3 $p*2 0px $c1,$p*4 $p*2 0px $c1,$p*5 $p*2 0px $c1,$p*6 $p*2 0px $c2,$p*7 $p*2 0px $c2,$p*8 $p*2 0px $c2,$p*9 $p*2 0px $c4,$p*3 $p*3 0px $c1,$p*4 $p*3 0px $c3,$p*5 $p*3 0px $c3,$p*6 $p*3 0px $c1,$p*7 $p*3 0px $c1,$p*8 $p*3 0px $c2,$p*9 $p*3 0px $c2,$p*10 $p*3 0px $c4,$p*2 $p*4 0px $c3,$p*3 $p*4 0px $c1,$p*4 $p*4 0px $c3,$p*5 $p*4 0px $c4,$p*6 $p*4 0px $c1,$p*7 $p*4 0px $c1,$p*8 $p*4 0px $c1,$p*9 $p*4 0px $c1,$p*10 $p*4 0px $c3,$p*2 $p*5 0px $c1,$p*3 $p*5 0px $c1,$p*4 $p*5 0px $c1,$p*5 $p*5 0px $c1,$p*6 $p*5 0px $c1,$p*7 $p*5 0px $c1,$p*8 $p*5 0px $c1,$p*9 $p*5 0px $c4,$p*10 $p*5 0px $c2,$p*2 $p*6 0px $c3,$p*3 $p*6 0px $c3,$p*4 $p*6 0px $c3,$p*5 $p*6 0px $c3,$p*6 $p*6 0px $c3,$p*7 $p*6 0px $c3,$p*8 $p*6 0px $c3,$p*9 $p*6 0px $c3,$p*10 $p*6 0px $c4,$p*3 $p*7 0px $c3,$p*4 $p*7 0px $c3,$p*5 $p*7 0px $c6,$p*6 $p*7 0px $c3,$p*7 $p*7 0px $c3,$p*8 $p*7 0px $c3,$p*9 $p*7 0px $c1,$p*10 $p*7 0px $c1,$p*4 $p*8 0px $c6,$p*5 $p*8 0px $c2,$p*6 $p*8 0px $c2,$p*7 $p*8 0px $c2,$p*8 $p*8 0px $c2,$p*3 $p*9 0px $c1,$p*4 $p*9 0px $c1,$p*5 $p*9 0px $c2,$p*6 $p*9 0px $c1,$p*7 $p*9 0px $c1,$p*8 $p*9 0px $c1,$p*3 $p*10 0px $c1,$p*4 $p*10 0px $c1,$p*5 $p*10 0px $c1,$p*6 $p*10 0px $c2,$p*7 $p*10 0px $c3,$p*8 $p*10 0px $c1,$p*9 $p*10 0px $c1,$p*3 $p*11 0px $c3,$p*4 $p*11 0px $c1,$p*5 $p*11 0px $c1,$p*6 $p*11 0px $c4,$p*7 $p*11 0px $c3,$p*8 $p*11 0px $c1,$p*9 $p*11 0px $c1,$p*3 $p*12 0px $c3,$p*4 $p*12 0px $c1,$p*5 $p*12 0px $c1,$p*6 $p*12 0px $c4,$p*7 $p*12 0px $c3,$p*8 $p*12 0px $c3,$p*9 $p*12 0px $c1,$p*3 $p*13 0px $c3,$p*4 $p*13 0px $c3,$p*5 $p*13 0px $c1,$p*6 $p*13 0px $c4,$p*7 $p*13 0px $c4,$p*8 $p*13 0px $c3,$p*9 $p*13 0px $c1,$p*4 $p*14 0px $c4,$p*5 $p*14 0px $c2,$p*6 $p*14 0px $c1,$p*7 $p*14 0px $c1,$p*8 $p*14 0px $c4,$p*9 $p*14 0px $c4,$p*4 $p*15 0px $c2,$p*5 $p*15 0px $c2,$p*6 $p*15 0px $c3,$p*7 $p*15 0px $c1,$p*8 $p*15 0px $c1,$p*9 $p*15 0px $c1,$p*10 $p*15 0px $c1,$p*5 $p*16 0px $c2,$p*6 $p*16 0px $c2,$p*7 $p*16 0px $c2,$p*8 $p*16 0px $c3,$p*9 $p*16 0px $c3,$p*10 $p*16 0px $c1,$p*4 $p*17 0px $c3,$p*5 $p*17 0px $c1,$p*6 $p*17 0px $c1,$p*7 $p*17 0px $c2,$p*8 $p*17 0px $c2,$p*9 $p*17 0px $c1,$p*4 $p*18 0px $c1,$p*5 $p*18 0px $c1,$p*6 $p*18 0px $c1,$p*7 $p*18 0px $c3,$p*8 $p*18 0px $c4,$p*9 $p*18 0px $c4,$p*10 $p*18 0px $c1,$p*4 $p*19 0px $c1,$p*5 $p*19 0px $c1,$p*6 $p*19 0px $c1,$p*7 $p*19 0px $c3,$p*8 $p*19 0px $c4,$p*9 $p*19 0px $c4,$p*10 $p*19 0px $c1,$p*4 $p*20 0px $c3,$p*5 $p*20 0px $c1,$p*6 $p*20 0px $c3,$p*7 $p*20 0px $c3,$p*8 $p*20 0px $c2,$p*9 $p*20 0px $c4,$p*10 $p*20 0px $c4,$p*11 $p*20 0px $c1,$p*4 $p*21 0px $c3,$p*5 $p*21 0px $c1,$p*6 $p*21 0px $c3,$p*9 $p*21 0px $c2,$p*10 $p*21 0px $c4,$p*11 $p*21 0px $c2,$p*12 $p*21 0px $c2,$p*5 $p*22 0px $c4,$p*6 $p*22 0px $c2,$p*10 $p*22 0px $c2,$p*11 $p*22 0px $c2,$p*12 $p*22 0px $c2,$p*4 $p*23 0px $c4,$p*5 $p*23 0px $c2,$p*6 $p*23 0px $c2,$p*10 $p*23 0px $c4,$p*11 $p*23 0px $c4,$p*12 $p*23 0px $c3,$p*4 $p*24 0px $c1,$p*5 $p*24 0px $c3,$p*6 $p*24 0px $c3,$p*9 $p*24 0px $c4,$p*10 $p*24 0px $c4,$p*11 $p*24 0px $c3,$p*4 $p*25 0px $c1,$p*5 $p*25 0px $c3,$p*8 $p*25 0px $c4,$p*9 $p*25 0px $c4,$p*10 $p*25 0px $c3,$p*4 $p*26 0px $c1,$p*5 $p*26 0px $c3,$p*8 $p*26 0px $c4,$p*9 $p*26 0px $c3,$p*10 $p*26 0px $c4,$p*4 $p*27 0px $c1,$p*5 $p*27 0px $c3,$p*8 $p*27 0px $c4,$p*9 $p*27 0px $c4,$p*10 $p*27 0px $c3,$p*4 $p*28 0px $c1,$p*5 $p*28 0px $c1,$p*6 $p*28 0px $c1,$p*9 $p*28 0px $c4,$p*10 $p*28 0px $c4,$p*11 $p*28 0px $c3,$p*4 $p*29 0px $c3,$p*5 $p*29 0px $c3,$p*6 $p*29 0px $c3,$p*7 $p*29 0px $c1,$p*8 $p*29 0px $c4,$p*9 $p*29 0px $c4,$p*10 $p*29 0px $c2,$p*11 $p*29 0px $c2,$p*12 $p*29 0px $c4,$p*13 $p*29 0px $c4;}
@mixin anim3() {box-shadow: 0 0 0px $t,$p*3 0 0px $c1,$p*4 0 0px $c1,$p*5 0 0px $c1,$p*6 0 0px $c1,$p*7 0 0px $c1,$p*2 $p 0px $c1,$p*3 $p 0px $c3,$p*4 $p 0px $c1,$p*5 $p 0px $c1,$p*6 $p 0px $c1,$p*7 $p 0px $c1,$p*8 $p 0px $c1,$p*2 $p*2 0px $c1,$p*3 $p*2 0px $c1,$p*4 $p*2 0px $c1,$p*5 $p*2 0px $c2,$p*6 $p*2 0px $c2,$p*7 $p*2 0px $c2,$p*8 $p*2 0px $c4,$p*2 $p*3 0px $c1,$p*3 $p*3 0px $c3,$p*4 $p*3 0px $c3,$p*5 $p*3 0px $c1,$p*6 $p*3 0px $c1,$p*7 $p*3 0px $c2,$p*8 $p*3 0px $c2,$p*9 $p*3 0px $c4,$p*1 $p*4 0px $c3,$p*2 $p*4 0px $c1,$p*3 $p*4 0px $c3,$p*4 $p*4 0px $c4,$p*5 $p*4 0px $c1,$p*6 $p*4 0px $c1,$p*7 $p*4 0px $c1,$p*8 $p*4 0px $c1,$p*9 $p*4 0px $c3,$p*1 $p*5 0px $c1,$p*2 $p*5 0px $c1,$p*3 $p*5 0px $c1,$p*4 $p*5 0px $c1,$p*5 $p*5 0px $c1,$p*6 $p*5 0px $c1,$p*7 $p*5 0px $c1,$p*8 $p*5 0px $c4,$p*9 $p*5 0px $c2,$p*1 $p*6 0px $c1,$p*2 $p*6 0px $c3,$p*3 $p*6 0px $c3,$p*4 $p*6 0px $c3,$p*5 $p*6 0px $c3,$p*6 $p*6 0px $c3,$p*7 $p*6 0px $c3,$p*8 $p*6 0px $c3,$p*9 $p*6 0px $c4,$p*2 $p*7 0px $c1,$p*3 $p*7 0px $c3,$p*4 $p*7 0px $c6,$p*5 $p*7 0px $c3,$p*6 $p*7 0px $c3,$p*7 $p*7 0px $c3,$p*8 $p*7 0px $c1,$p*9 $p*7 0px $c1,$p*3 $p*8 0px $c6,$p*4 $p*8 0px $c2,$p*5 $p*8 0px $c2,$p*6 $p*8 0px $c2,$p*7 $p*8 0px $c2,$p*3 $p*9 0px $c3,$p*4 $p*9 0px $c1,$p*5 $p*9 0px $c2,$p*6 $p*9 0px $c1,$p*7 $p*9 0px $c1,$p*8 $p*9 0px $c1,$p*3 $p*10 0px $c1,$p*4 $p*10 0px $c1,$p*5 $p*10 0px $c1,$p*6 $p*10 0px $c4,$p*7 $p*10 0px $c3,$p*8 $p*10 0px $c1,$p*9 $p*10 0px $c3,$p*4 $p*11 0px $c1,$p*5 $p*11 0px $c1,$p*6 $p*11 0px $c4,$p*7 $p*11 0px $c3,$p*8 $p*11 0px $c3,$p*9 $p*11 0px $c1,$p*4 $p*12 0px $c1,$p*5 $p*12 0px $c1,$p*6 $p*12 0px $c4,$p*7 $p*12 0px $c3,$p*8 $p*12 0px $c4,$p*9 $p*12 0px $c4,$p*10 $p*12 0px $c1,$p*11 $p*12 0px $c1,$p*4 $p*13 0px $c3,$p*5 $p*13 0px $c1,$p*6 $p*13 0px $c1,$p*7 $p*13 0px $c4,$p*8 $p*13 0px $c1,$p*9 $p*13 0px $c1,$p*10 $p*13 0px $c1,$p*11 $p*13 0px $c1,$p*4 $p*14 0px $c4,$p*5 $p*14 0px $c3,$p*6 $p*14 0px $c2,$p*7 $p*14 0px $c1,$p*8 $p*14 0px $c1,$p*9 $p*14 0px $c2,$p*4 $p*15 0px $c4,$p*5 $p*15 0px $c2,$p*6 $p*15 0px $c3,$p*7 $p*15 0px $c1,$p*8 $p*15 0px $c2,$p*9 $p*15 0px $c4,$p*5 $p*16 0px $c4,$p*6 $p*16 0px $c2,$p*7 $p*16 0px $c2,$p*8 $p*16 0px $c2,$p*9 $p*16 0px $c4,$p*4 $p*17 0px $c4,$p*5 $p*17 0px $c1,$p*6 $p*17 0px $c1,$p*7 $p*17 0px $c1,$p*8 $p*17 0px $c3,$p*9 $p*17 0px $c3,$p*4 $p*18 0px $c3,$p*5 $p*18 0px $c1,$p*6 $p*18 0px $c1,$p*7 $p*18 0px $c3,$p*8 $p*18 0px $c3,$p*9 $p*18 0px $c3,$p*10 $p*18 0px $c1,$p*4 $p*19 0px $c1,$p*5 $p*19 0px $c1,$p*6 $p*19 0px $c1,$p*8 $p*19 0px $c4,$p*9 $p*19 0px $c3,$p*10 $p*19 0px $c1,$p*4 $p*20 0px $c1,$p*5 $p*20 0px $c1,$p*6 $p*20 0px $c1,$p*8 $p*20 0px $c4,$p*9 $p*20 0px $c3,$p*10 $p*20 0px $c1,$p*4 $p*21 0px $c1,$p*5 $p*21 0px $c1,$p*6 $p*21 0px $c1,$p*8 $p*21 0px $c4,$p*9 $p*21 0px $c3,$p*10 $p*21 0px $c1,$p*4 $p*22 0px $c2,$p*5 $p*22 0px $c2,$p*6 $p*22 0px $c2,$p*8 $p*22 0px $c4,$p*9 $p*22 0px $c2,$p*10 $p*22 0px $c2,$p*4 $p*23 0px $c1,$p*5 $p*23 0px $c1,$p*6 $p*23 0px $c2,$p*8 $p*23 0px $c2,$p*9 $p*23 0px $c2,$p*10 $p*23 0px $c2,$p*4 $p*24 0px $c1,$p*5 $p*24 0px $c3,$p*6 $p*24 0px $c3,$p*8 $p*24 0px $c4,$p*9 $p*24 0px $c3,$p*3 $p*25 0px $c1,$p*4 $p*25 0px $c3,$p*5 $p*25 0px $c3,$p*8 $p*25 0px $c4,$p*9 $p*25 0px $c3,$p*2 $p*26 0px $c1,$p*3 $p*26 0px $c3,$p*4 $p*26 0px $c3,$p*8 $p*26 0px $c4,$p*9 $p*26 0px $c3,$p*1 $p*27 0px $c4,$p*2 $p*27 0px $c1,$p*3 $p*27 0px $c3,$p*8 $p*27 0px $c4,$p*9 $p*27 0px $c1,$p*2 $p*28 0px $c4,$p*3 $p*28 0px $c1,$p*8 $p*28 0px $c4,$p*9 $p*28 0px $c3,$p*10 $p*28 0px $c1,$p*1 $p*29 0px $c4,$p*2 $p*29 0px $c4,$p*3 $p*29 0px $c2,$p*4 $p*29 0px $c1,$p*5 $p*29 0px $c4,$p*6 $p*29 0px $c4,$p*8 $p*29 0px $c2,$p*9 $p*29 0px $c2,$p*10 $p*29 0px $c4,$p*11 $p*29 0px $c1,$p*12 $p*29 0px $c4;}
.soldier:before{content:"";width:$p * 1.5;height:$p;position: absolute;top:0;left:0;@include animation(anim 1s ease infinite);@include anim3();}
@include keyframes(anim){0%{@include anim1();}33%{@include anim2();}66%{@include anim3();}100%{@include anim1();}}
@include keyframes(go){0%{right:0vw;}100%{right:110vw;}}



















@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #game{
        padding-left: 60px;
        padding-right: 60px;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #game{
        padding-left: 60px;
        padding-right: 60px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #game{
        padding-left: 60px;
        padding-right: 60px;
    }
}